<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pay my buddy - Home</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <div class="d-flex justify-content-between" style="padding:15px; ">
        <h1 class="bg-success btn-lg text-white">Pay my buddy</h1>
        <nav class="nav justify-content-between align-content-center" style="width: 50%;">
            <a href="#">Home</a>
            <a th:href="@{/{id}/user_transactions(id=${user.id})}">Buddy Money</a>
            <a th:href="@{/{id}/bank_transactions(id=${user.id})}">Sweety bank</a>
            <a th:href="@{/{id}/profile(id=${user.id})}">Profile</a>
            <a href="">Contact</a>
            <a href="/">Log off</a>
        </nav>

    </div>
    <nav class="nav bg-light" style="padding-left: 15px;">
        <a class="nav-link inactive" th:href="@{/{id}(id=${user.id})}">Home</a>
    </nav>
</header>
<main class="container">
    <p class="text-end">Hi, <span th:text="${user.firstName}">Unknown</span></p>

    <h3>My buddy dashboard</h3>
    <div class="" style="width: 90%; margin: auto">
        <div class="row">
            <div class="col-5">
                <p class="badge bg-primary">Actual credit :</p>
            </div>
            <div class="col-5">
                <span th:text="${#numbers.formatDecimal(user.getBalance,0,'COMMA',2,'POINT')}"> your money</span>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <p class="badge bg-success">Last transaction :</p>
            </div>
            <div class="col-7">
            <span
                    th:text="   ${lastUserTransaction.id!=null}
                    ?(${lastUserTransaction.getDebtor.id==user.id}
                        ? ${lastUserTransaction.creditor.firstName}+' '+${lastUserTransaction.creditor.lastName}+'  '
                        : ${lastUserTransaction.debtor.firstName}+' '+${lastUserTransaction.debtor.lastName}+'  ')
                    :'No user transaction yet'">User
            </span>
                <span class="fst-italic" th:text="${lastUserTransaction.id!=null}
                    ?${lastUserTransaction.description}+' '
                    :''">Description
                </span>
                <span th:text="${lastUserTransaction.id!=null}
                ?(${lastUserTransaction.debtor.id==user.id}
                        ? '-'+${#numbers.formatDecimal(lastUserTransaction.value,0,'COMMA',2,'POINT')}
                        : '+'+${#numbers.formatDecimal(lastUserTransaction.value,0,'COMMA',2,'POINT')})
                :''">Value</span>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <h2 class="badge bg-success">Last transfert :</h2>
            </div>
            <div class="col-7">
                <span class="fst-italic" th:text="${lastBankTransaction.id!=null}
                        ?${lastBankTransaction.description}+'  '
                        :'No bank transaction yet'"></span>

                <span th:text="${lastBankTransaction.id!=null}
                        ?${#numbers.formatDecimal(lastBankTransaction.value,0,'COMMA',2,'POINT')}
                        :''"></span>
            </div>
        </div>
    </div>
</main>
</body>
</html>