<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pay my Buddy - Buddy Money</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<main class="container">
    <div class="bg-light d-flex flex-column" style="margin-bottom: 50px; padding: 50px;">
        <div class="alert alert-danger text-center">
            Transaction aborted - Not enough money
        </div>

        <a type="button" class="btn btn-success mx-auto" th:href="@{/{id}(id=${id})}">Go Back</a>
    </div>
</main>
</body>
</html>